<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bíblia Desktop - {{ versao }}</title>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">

    <!-- CSS customizado -->
<!--    <link rel="stylesheet" href="/static/css/style.css"> -->
</head>
<body>
    <!-- Navbar simples -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">📘 Bíblia Desktop</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    {% for v in versoes %}
                        <li class="nav-item">
                            <a class="nav-link {% if v == versao %}active{% endif %}" href="/?versao={{ v }}">{{ v.upper() }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Conteúdo da página -->
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Bootstrap JS -->
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>

